@model System.Collections.Generic.List<string>
@{
    Layout = "_Layout";
    
}




   
    <h1>All pizzas:</h1>
    <h3>There are @Model.Count pizzas in total:</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>

